main {
    font-family: Gabarito, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin:  0.6em 1em;
    color: #f2ffff
}

.title {
    padding-left: 0.5em;
    line-height: 1.1em;
}

section {
    padding: 1em 0;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 1em;
    margin-right: 3em;
}

.landingPageLogo {
    display: flex;
    justify-content: center;
}

.canvasContainer {
    margin-top: 5em;
    display: flex;
    align-items: center;
}

.lessonList {
    display: flex;
    gap: 2em;
}