body {
	background-color: #313B3E;
	height: 100vh;
	margin: 0;
	color: #F4FFFF;
}

.body_root {
	width: 100%;
}

.vertical_divide {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

.right_section {
	background-color: #4B585D;
	width: 70%;
	height: 100%;
	/*	border: 1px solid white;*/
}

.nav_bar {
	height: 120px;
	display: flex;
	background-color: #313B3E;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.nav_button {
	padding: 20px;
	font-size: 1.4em;
}

.left_section {
	background-color: #313B3E;
	width: 30%;
	max-width: 600px;
	min-width: 400px;
	height: 100%;
	display: grid;
}

.lesson_content {
	padding: 0 2em;
	overflow-y: auto;
	scrollbar-color: #4B585D rgb(75, 88, 93, 50%);
	scrollbar-width: thin;
}

/* Styles for type set */
h1 {
	font-family: "Gabarito", sans-serif;
	font-size: 3.25em;
	font-weight: 550;
	letter-spacing: 0.06rem;
	line-height: 0.9em;
	padding-top: 0.75em;
	margin: 0;
}

h2 {
	font-family: "Gabarito", sans-serif;
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 0.075rem;
	line-height: 0.85em;
	padding-top: 0.5em;
	margin: 0;
}

h3 {
	font-family: "Gabarito", sans-serif;
	font-size: 1.25em;
	font-weight: 550;
	letter-spacing: 0.05rem;
	line-height: 0.85em;
	padding-top: 0.5em;
	margin: 0;
}

p {
	font-family: "Lexend", sans-serif;
	font-size: 16px;
	font-weight: 250;
	letter-spacing: 0.0525rem;
	line-height: 1.55em;
	padding: 0.65em 0 1.5em 0;
	margin: 0;
}