.lessonNav_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: 3em 0;
    transition: 0.2s ease;
}

.lessonNav_item {
    margin: 0;
    padding: 0;
}

.lessonNav_item svg:hover {
    cursor: pointer;
}

.lessonNav_item svg:hover circle {
    stroke: #57FFEB;
    transition: 0.2s ease;
}