.widget {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    border-radius: 5px;
    background-color: #272727;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons input {
    margin-right: 10px;
}

.buttons p {
    padding: 0;
    margin-right: 15px;
}

.button {
    background-color: #4B585D;
    border: 1px solid #4B585D;
    border-radius: 15px;
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.button:hover {
    border: 1px solid #57FFEB;
    transition: 0.2s ease;
}

.info p {
    margin: 0;
}