.wrapper {
    position: relative;
    height: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
	background-color: #313B3E;
/*     background-color: #0E1112; */
}

.controls_list {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #272727;
    padding: 10px;
    border-radius: 7px;
}

.control {
    margin: auto 4px;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 0 0.5em;
}
.control:hover {
    transition: 0.2s ease;
    color: #aaa;
}