.wrapper {
    position: relative;
    height: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
	background-color: #313B3E;
    /* background-color: #0E1112; */
}

/* Undo and delete buttions */
.controls_list {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #272727;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    gap: 1.5em;
    padding: 1em 1em;
}

.control {
    cursor: pointer;
    transition: 0.2s ease;
}
.control:hover {
    transition: 0.2s ease;
    color: #57FFEB;
}

/* Tooltip button */

