.applied_transformations {
    position: absolute;
    display: flex;
    align-items: end;
    bottom: 20px;
    right: 20px;
    font-size: 0.6rem;
}

.applied_transformations div div:hover {
    border: 1px solid #FFF4FF;
}


.applied_transformations div div {
    border: 1px solid #FFF4FF;
    padding: 1.5em 1em;
}

.applied_transformations div div span span{
    font-family: "Lexend", sans-serif;
}