.tooltip_container {
    position: absolute;
    right: 15px;
    top: 15px;
}

svg {
    z-index: 2;
}
svg:hover {
    cursor: pointer;
}
svg:hover circle {
    stroke: #57FFEB;
    transition: 0.2s ease;
}

.tooltip_window {
    visibility: hidden;
    position: absolute;

    height: 15em;
    width: 16em;
    background-color: #4B585D;
    transition: 0.2s ease;
    padding: 1em 1em;

    right: 60%;
    top: 25px;
    z-index: 0;
    overflow-y: scroll;

    font-family: "Lexend", sans-serif;
	font-size: 14px;
	font-weight: 250;
	letter-spacing: 0.05rem;
	line-height: 1.45em;
}

h4 {
	font-family: "Gabarito", sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 0.05rem;
	line-height: 1.1em;
	padding-top: 0.35em;
	margin: 0 0 0.25em 0;
}

.tooltip_container:hover .tooltip_window {
    visibility: visible;
    transition: 0.2s ease;
}


/* Scroll bar styles, if necessary. */
.tooltip_window::-webkit-scrollbar {
	width: 15px;
}
.tooltip_window::-webkit-scrollbar-track {
	background: #4B585D;
}
.tooltip_window::-webkit-scrollbar-thumb {
	background: #4B585D;
	border: 2px solid #57FFEB;
	border-radius: 10px;
	transition: 0.75s ease;
}
.tooltip_window::-webkit-scrollbar-thumb:hover {
	background: #313B3E;
	transition: 0.75s ease;
}